html{
    --background-color:rgb(100,200,100);
    --base-color: rgb(220, 220, 220);
    --radio-button-not-active: rgb(220, 220,220);
    --radio-button-active: rgb(100, 200, 100);
    --radio-button-border: rgb(20, 20, 20);
    --page-color: rgba(150, 150, 150, 0.5);
    --page-color-selected: rgba(80, 80, 80, 0.75);
    --button-color: var(--base-color);
    --button-background-color: var(--background-color);
    --button-color-hover: var(--button-background-color);
    --button-background-color-hover: var(--button-color);
    --correct-answer: rgb(100, 200, 100);
    --incorrect-answer: rgb(200, 50, 50);
}
@font-face {
    font-family: AdverGothic; /* Гарнитура шрифта */
    src: url(AdverGothicC.ttf); /* Путь к файлу со шрифтом */
}
body{
    background-color: var(--background-color);

    display: flex;
    display: -webkit-flex;

    justify-content: center;
    align-items: center;

    font-family: AdverGothic;
    font-size: 200%;
}   
p{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0px;
    margin-right: 0px;
}
label.button{
    align-self: flex-end;

    transition: 0.5s;
    margin: 0px;

    padding-right: 0.4em;
    padding-left: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    color: var(--button-color);
    background-color: var(--button-background-color);
}
label.button.disabled{
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    user-select: none;
}
label.button:not(.disabled):hover{
    cursor: pointer;
    color: var(--button-color-hover);
    background-color: var(--button-background-color-hover);
}
#base{
    background-color: var(--base-color);
    width: 60%;
    height: 50%;
    position: absolute;

    border-radius: 5%/50%;
    
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;

    transition: 1s;
}
#content{
    overflow-y:auto;
    width: 100%;
    height: 90%;
}
.page{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}
.page.active{
    display: flex;
}
.page.addictive{
    transform: rotateY(-180deg);
}
#page-counter{
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
#page-counter div::before{
    content: '';
    display: inline-block;

    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;

    border: 1px solid rgba(0,0,0,0);
    background-color: var(--page-color);
    border-radius: 50%;

    margin-right: 0.2em;
    margin-left: 0.2em;
}
#page-counter div.selected::before{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border: 1px solid rgba(0,0,0,0);
    background-color: var(--page-color-selected);
    border-radius: 50%;
}
input[type='radio']{
    display: none;
}
input[type="radio"] + label::before{
    display: inline-block;

    content: "";
    color: rgba(0,0,0,0);

    width: 0px;
    height: 0px;

    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    background-color: var(--radio-button-not-active);
    
    border-radius: 50%;
    border: 1px solid var(--radio-button-border);

    margin-right: 0.5em;

    transition: 0.5s;
}
input[type="radio"]:checked + label::before{
    background-color: var(--radio-button-active);
}
